<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>风险管理</title><!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/js/jquery-ui.css"/>
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/jquery-ui.js"></script>
</head>
<body>
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                risk management
            </h2>
            <div class="col-lg-offset-3">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            标题
                        </th>
                        <th>
                            风险影响程度等级
                        </th>
                        <th>
                            可能性
                        </th>
                        <th>
                            风险状态
                        </th>
                        <th>
                            提交时间
                        </th>
                        <th>
                            阈值
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="risk in riskList" v-on:click="showRisk(risk)">
                        <td>
                            {{risk.title}}
                        </td>
                        <td>
                            {{risk.level}}
                        </td>
                        <td>
                            {{risk.possibility}}
                        </td>
                        <td>
                            {{risk.state}}
                        </td>
                        <td>
                            {{risk.timestamp}}
                        </td>
                        <td>
                            {{risk.threshold}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" v-on:click="addRisk">新增风险</button>
            </div>
        </div>
    </div>

    <div id="dialog" title="风险详情">
        <form v-if="curRisk!=''" :class="{disable:user.id==curRisk.submitter_id}" id="form" role="form" action="/risk/editRisk" method="post">
            <div class="form-group">
                <label for="title">
                    标题
                </label>
                <input type="text" class="form-control" id="title" v-model="curRisk.title" />
            </div>
            <div class="form-group">
                <label for="description">
                    描述
                </label>
                <textarea type="text" class="form-control" id="description" v-model="curRisk.description"></textarea>
            </div>
            <div class="form-group">
                <label for="level">
                    风险影响程度等级
                </label>
                <input type="text" class="form-control" id="level" v-model="curRisk.level"/>
            </div>
            <div class="form-group">
                <label for="possibility">
                    可能性
                </label>
                <input type="text" class="form-control" id="possibility" v-model="curRisk.possibility"/>
            </div>
            <div class="form-group">
                <label for="state">
                    风险状态
                </label>
                <input type="text" class="form-control" id="state" v-model="curRisk.state"/>
            </div>
            <div class="form-group">
                <label for="submitter_id">
                    提交者id
                </label>
                <input type="text" class="form-control" id="submitter_id" v-model="curRisk.submitter_id" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="tracker_id">
                    跟踪者id
                </label>
                <input type="text" class="form-control" id="tracker_id" v-model="curRisk.tracker_id"/>
            </div>
            <div class="form-group">
                <label for="threshold">
                    阈值
                </label>
                <input type="text" class="form-control" id="threshold" v-model="curRisk.threshold"/>
            </div>
            <div class="form-group">
                <span v-for="cause in allCauses">
                     <input type="checkbox" id="cause.name" value="cause.name" v-model="causes"/>
                <label for="cause.name">{{cause.name}}</label>
                </span>
            </div>

        </form>
    </div>
</div>
</body>

<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script th:inline="javascript">
    var riskList = [[${riskList}]];
    var user = [[${user}]];
</script>
<script>
    var vue=new Vue({
        el:"#main",
        data:{
            user:user,
           riskList:riskList,
            causes:[],
            allCauses:[],
            curRisk:''
        },
        mounted:function(){
                this.$http.post('/risk/getAllCauses',{emulateJSON:true}).then(function (response) {
                    this.allCauses=response.data.causes;
            });
        },
        methods:{
            showRisk:function (risk) {
                this.curRisk=risk;
                this.$http.post('/risk/getCauses',{id:risk.id},{emulateJSON:true}).then(function (response) {
                    this.causes=response.data.causes;
                });
                $("#dialog").dialog("open");
            },
            addRisk:function () {
                this.curRisk={
                    title:'',
                    description:'',
                    level:'',
                    possibility:'',
                    state:'',
                    submitter_id:'',
                    tracker_id:'',
                    threshold:''
                };
                this.causes=[];
                $("#dialog").dialog("open");
            }
        }
    });

    $("#dialog").dialog({
        resizable: false,
        height:350,
        width:400,
        modal: true,
        buttons: {
            "确定": function () {
                this.$http.post('/risk/modify',{risk:vue.curRisk,causes:vue.causes},{emulateJSON:true}).then(function (response) {
                    $(this).dialog("close");
                    window.location.reload();
                });
            },
            "取消": function () {
                $(this).dialog("close");
            }
        }
    })
</script>
</html>